.logo {
    position: relative;
    top: 0;
    left: 0;
}

.Magenta_Sticks_1_image {
    position: relative;
    top: 0;
    left: 0;
    opacity: 25%;
    width: 807px;
    height: 265px;
}

.Med_Kids_Logo_2_image {
    position: absolute;
    left: -43;
    top: 58;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 850px;
    height: 269px;
}

body {
    margin: 0;
    background-color: #ADE8F840;
    background-repeat: no-repeat;
}

section {
    font-family: sans-serif;
    min-height: 100vh;
}

/* section:nth-child(1) {
    background: orange;
    color: white;
  }
  
  section:nth-child(2) {
    background: cyan;
    color: white;
  } */

#section_1_cell_title {
    color: #FA00FF;
    font-size: 35px;
    position: relative;
    left: 0;
    text-align: center;
    font-weight: 800;
}

section {
    text-align: center;
}

#adele_chat_box {
    position: relative;
    top: -50;
}

#adele_image {
    position: relative;
    top: 20;
}

#adele_audio_icon {
    z-index: 1;
    position: relative;
    top: -400;
    left: 250;
}

#adele_text {
    z-index: 1;
    position: absolute;
    margin-top: 50;
    margin-left: 50;
}

.human_body_cells {
    width: 888px;
    height: 851px;
}

.section_2 {
    background-image: linear-gradient(#FFD1E940, #ADE8F840);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.human_body_cells_text_div {
    /* width: 408px;
    height: 338px; */
    background-color: #FEC7FF60;
    border-radius: 15%;
    align-self: center;
}

#human_body_cells_text_audio_icon {
    margin-top: 20;
}

.human_body_cells_text {
    font-size: 28px;
    margin-top: 0;
    color: #0E0E0E;
}

.human_body_cells_text_bold {
    color: #FA00FF;
    font-weight: bolder;
    font-size: 36px;
    font-style: italic;
}

.section_3 {
    background-color: #F1D9E8;
}

.did_you_know_text {
    border-radius: 30px / 30px;
    background-color: #FFF;
    width: 350px;
    height: 150px;
    position: relative;
    top: 40px;
    margin: auto;

}

.did_you_know_text_bold {
    color: #FA00FF;
    font-weight: bolder;
    font-size: 35px;
    position: relative;
    top: 20px;
}

.did_you_know_text_2 {
    color: #007198;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.circles_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    position: relative;
    top: 60px;
    justify-content: space-evenly;
}

.outer_circles {
    z-index: 1;
}

.inner_circles {
    z-index: 2;
    margin-top: -410px;
    margin-left: 30px;
}

.hand_tap {
    width: 172.82px;
    height: 172.82px;
    transform: rotate(-22.8deg);
    z-index: 3;
    margin-top: -320px;
    margin-left: 120px;
}



#inner_circle_1 {}

#inner_circle_1 {}

#inner_circle_1 {}

.section_4 {
    background-color: #FFF8EE;
    font-size: 44px;
}

.section_4_heading_text {
    color: #EF8D7D;
    position: relative;
    top: 30px;
}

.section_4_heading_text_2 {
    color: #EB6A54;
}

.section_4_heading_text_body {
    color: #EA7203;
}

.section_4_grid_container {
    display: grid;
    grid-template-columns: 769px 669px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
}


#immune_cells_1 {
    margin-top: 50px;
    margin-left: 20px;
    grid-area: 1/1/1/2;
}

#immune_cells_2 {
    grid-area: 3/1/3/2;
    margin-left: 100px;
}

#immune_cells_3 {
    grid-area: 3/2/3/2;
    margin-left: -100px;
}

#amoeba_blob_1 {
    z-index: 1;
    grid-area: 1/2/1/2;
    margin-top: -30px;
    margin-left: -60px;
}

#audio_Icon_orange {
    z-index: 1;
    grid-area: 2/2/3/2;
    margin-top: -130px;
    margin-left: 300px;
}

#ameoba_text {
    z-index: 2;
    font-size: 32px;
    grid-area: 2/2/2/2;
    margin-top: -90px;
    color: #EA7203;
}

.purple_text{
    color: #FA00FF;
}

.bold_text{
    font-weight: bolder;
}

.section_5{
    background-color: #FFF;
}


.section_5_grid_container{
    display: grid;
    grid-template-columns: 300px 400px 650px 200px 400px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
}
.cell_gif{
    transform: rotate(-128.79deg);
    grid-area: 2/2/2/2;
    margin-left: 100px;
}

.chat_bubble{
    margin-left: 130px;
    grid-area: 1/3/1/3;
    margin-top: 50px;
}

.chat_bubble_did_you_know_text{
    font-size: 45px;
    color: #FFF;
    grid-area: 1/5/2/3;
    margin-top: 120px;
    margin-left: -40px;
}
.chat_bubble_text{
    font-size: 32px;
    z-index: 1;
    grid-area: 2/5/2/3;
    margin-top: -10px;
    margin-left: -40px;
}

.herringbone{
    grid-area: 1/5/5/5;
}
.section_5_scroll_down_text{
    font-size: 45px;
    grid-area: 4/3/4/3;
}


.expand {
    background: gray;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  
  .types_of_cell {
    background-color: #FFF0C0;
    width: 1000px;
    height: 350px;
    grid-template-columns: 300px 500px;
  }

  .types_of_cell_top{
    border-radius: 100px 100px 0px 0px;
  }

  .types_of_cell_bottom{
    border-radius:  0px 0px 100px 100px;
  }
  
  .font_text_size{
    font-size: 45px;
  }