.logo {
    position: relative;
    top: 0;
    left: 0;
}

.Magenta_Sticks_1_image {
    position: relative;
    top: 0;
    left: 0;
    opacity: 25%;
    width: 807px;
    height: 265px;
}

.Med_Kids_Logo_2_image {
    position: absolute;
    left: -43;
    top: 58;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 850px;
    height: 269px;
}

body {
    margin: 0;
    background-color: #ADE8F840;
    background-repeat: no-repeat;
}

section {
    font-family: sans-serif;
    min-height: 100vh;
}

/* section:nth-child(1) {
    background: orange;
    color: white;
  }
  
  section:nth-child(2) {
    background: cyan;
    color: white;
  } */

#section_1_cell_title {
    color: #FA00FF;
    font-size: 35px;
    position: relative;
    left: 0;
    text-align: center;
    font-weight: 800;
}

section{
    text-align: center;
}

#adele_chat_box {
    position: relative;
    top: -50;
}

#adele_image {
    position: relative;
    top: 20;
}

#adele_audio_icon {
    z-index: 1;
    position: relative;
    top: -400;
    left: 250;
}

#adele_text{
    z-index: 1;
    position: absolute;
    margin-top: 50;
    margin-left: 50;
}

.human_body_cells{
    width: 888;
    height: 851;
}

.section_2{
        background-image: linear-gradient(#FFD1E940, #ADE8F840);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
}

.human_body_cells_text_div{
    /* width: 408px;
    height: 338px; */
    background-color: #FEC7FF60;
    border-radius: 15%;
    align-self: center;
}

#human_body_cells_text_audio_icon{
    margin-top: 20;
}

.human_body_cells_text{
    font-size: 28px;
    margin-top: 0;
    color: #0E0E0E;
}

.human_body_cells_text_bold {
    color: #FA00FF;
    font-weight: bolder;
    font-size: 36px;
    font-style: italic;
}